@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
* body {
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsla(0deg, 0%, 100%, 0.75);
  justify-content: center;
  align-items: center;
  padding: 1rem 0.7rem;
}

.main__col {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.main__col-1 {
  width: 12vw;
  background-color: hsl(31deg, 77%, 52%);
}
.main__col-1-img {
  margin: 1rem 2rem;
}
.main__col-1-header {
  margin: 1rem 2rem;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  color: hsl(0deg, 0%, 95%);
}
.main__col-1-para {
  margin: 1rem 2rem;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0deg, 0%, 95%);
}
.main__col-1-buttons {
  border: 2px solid hsl(0deg, 0%, 95%);
  border-radius: 1.5rem;
  margin: 1rem 2rem;
  height: 5vh;
  width: 7vw;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0deg, 0%, 95%);
  color: hsl(31deg, 77%, 52%);
}
.main__col-2 {
  width: 12vw;
  background-color: hsl(184deg, 100%, 22%);
}
.main__col-2-img {
  margin: 1rem 2rem;
}
.main__col-2-header {
  margin: 1rem 2rem;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  color: hsl(0deg, 0%, 95%);
}
.main__col-2-para {
  margin: 1rem 2rem;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0deg, 0%, 95%);
}
.main__col-2-buttons {
  border: 2px solid hsl(0deg, 0%, 95%);
  border-radius: 1.5rem;
  margin: 1rem 2rem;
  height: 5vh;
  width: 7vw;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0deg, 0%, 95%);
  color: hsl(184deg, 100%, 22%);
}
.main__col-3 {
  width: 12vw;
  background-color: hsl(179deg, 100%, 13%);
}
.main__col-3-img {
  margin: 1rem 2rem;
}
.main__col-3-header {
  margin: 1rem 2rem;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  color: hsl(0deg, 0%, 95%);
}
.main__col-3-para {
  margin: 1rem 2rem;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0deg, 0%, 95%);
}
.main__col-3-buttons {
  border: 2px solid hsl(0deg, 0%, 95%);
  border-radius: 1.5rem;
  margin: 1rem 2rem;
  height: 5vh;
  width: 7vw;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0deg, 0%, 95%);
  color: hsl(179deg, 100%, 13%);
}

.footer {
  margin-top: 15px;
}
.footer .attribution {
  font-size: 11px;
  text-align: center;
}
.footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media all and (min-width: 375px) and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  * body {
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsla(0deg, 0%, 100%, 0.75);
    justify-content: center;
    align-items: center;
    padding: 1rem 0.7rem;
  }

  .main__col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__col-1 {
    width: 18rem;
  }
  .main__col-1-buttons {
    border-radius: 1rem;
    margin: 1rem 2rem;
    height: 2.5rem;
    width: 7rem;
  }
  .main__col-2 {
    width: 18rem;
  }
  .main__col-2-buttons {
    border-radius: 1rem;
    margin: 1rem 2rem;
    height: 2.5rem;
    width: 7rem;
  }
  .main__col-3 {
    width: 18rem;
  }
  .main__col-3-buttons {
    border-radius: 1rem;
    margin: 1rem 2rem;
    height: 2.5rem;
    width: 7rem;
  }
}/*# sourceMappingURL=style.css.map */